* {
margin: 0;
padding: 0;
overflow-x: hidden;
}

a {
color: #f5f2f2;
text-decoration: none;
}

a :hover {
color: #d3624c;
text-decoration: none;
transition: 1000ms;
}

.btn-outline-light:hover {
background-color: #d3624c;
text-decoration: none;
transition: 1000ms;
}

body {
background-color: #7bccf5;
text-align: center;
}

h1, h2 , h3 {
font-size: 3em ;
font-family: 'Dancing Script', cursive;
padding-bottom: 0.3rem; 
}

p {
font-size: 1.2em;
font-family: 'manthrope'800;
}



.contact {
background-color: #d3624c;
height: 35em;
display: flex;
flex-direction: column;
gap: 1em;
justify-content: center;
}

.copyright {
color: #4b4a4a;
font-size: small;
}

.container-fluid{

padding: 0;

}


.btn-primary{
background-color: #7bccf5;
}

.btn-primary:hover {
background-color: #0d82bd;
transition: 1000ms;
}

#footer {
color: #2b2a2a;
background-color: #7bccf5;
margin: 0;
padding: 1em;
text-align: center;
}

.navbar-brand{
color: #ffffff;
margin-left: 1em;
}

.navbar-brand:hover {
color: #d3624c;
transition: 1000ms;
}

.navbar-toggler{
margin-right: .75rem;

}

.navbar, .offcanvas {
background-color: #7bccf5;
color: #dfdede;
}
/* Gallery section */
.title {
    color:#ffffff;
    margin: 5rem 0 2rem 0;
    font: 3rem 'Dancing Script', cursive;
}
.pp-gallery {
    background-color: #d3624c;
    padding: 1rem ;
}

.item {
    border: 5px white ;
}


/* // medium devices (tables,768 and up) // */
@media (min-width: 768px) { 
    .item {
        
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}